@mixin layoutch( $width: 0, $height: 0  ){
  display: flex;
  @if( $width > 0 ){
    >*{
      width: unquote( $width + '%');
    }
  }
  @if( $height > 0 ){
    >*{
      height: unquote( $height + '%');
    }
  }
}

@mixin hideextrachilds($numb){
  >*:nth-child(unquote(n + $numb)){
    display: none;
  }
}

.layoutch-2-1,.layoutch-3-1, .layoutch-4-1, .layoutch-5-1,.layoutch-6-1,.layoutch-7-1,.layoutch-8-1{
  @include layoutch(100);
}

.layoutch-2-2,.layoutch-3-2, .layoutch-4-2, .layoutch-5-2,.layoutch-6-2,.layoutch-7-2,.layoutch-8-2{
  @include layoutch(100);
  flex-wrap: wrap;
}


.layoutch-2-3{
  @include layoutch(100);
  >*:nth-child(2){
    width: 30%;
  }
}

.layoutch-2-4{
  display: flex;
  @include layoutch(30);
  >*:nth-child(2){
    width: 70%;
  }
}

.layoutch-2-5{
  @include layoutch(100,70);
  flex-wrap: wrap;
  >*:nth-child(2){
    height: 30%;
  }
}

.layoutch-2-6{
  @include layoutch(0,30);
  flex-direction: column;
  >*:nth-child(2){
    height: 70%;
  }
}

.layoutch-3-3{
  @include layoutch(50);
  flex-wrap: wrap;
  >*:nth-child(3) {
    width: 100%;
  }
}

.layoutch-3-4{
  @include layoutch(50);
  flex-wrap: wrap;
  >*:first-child{
    width: 100%;
  }
}

.layoutch-3-5{
  display: flex;
  flex-wrap: wrap;
  @include layoutch(100, 25);
  >*:first-child{
    width: 100%;
    height: 50%;
  }
}

.layoutch-3-6{
  @include layoutch( 100, 25);
  flex-wrap: wrap;
  >*:nth-child(3) {
    width: 100%;
    height: 50%;
  }
}

.layoutch-3-7{
  @include layoutch(25, 100);
  >*:first-child{
    width: 50%;
    height: 100%;
  }
}

.layoutch-3-8{
  @include layoutch(25, 100);
  >*:nth-child(2) {
    width: 50%;
    height: 100%;
  }
}

.layoutch-3-9{
  @include layoutch(25, 100);
  >*:nth-child(3) {
    width: 50%;
    height: 100%;
  }
}

.layoutch-4-3{
  @include layoutch(50);
  flex-wrap: wrap;
}

.layoutch-4-4{
  @include layoutch(33.33333333,50);
  flex-wrap: wrap;
  >*:first-child{
    height: 50%;
    width: 100%;
  }
}

.layoutch-4-5{
  @include layoutch(33.33333333, 50);
  flex-wrap: wrap;
  >*:nth-child(4){
    height: 50%;
    width: 100%;
  }
}

.layoutch-4-6{
  @include layoutch(30, 33.33333333);
  flex-wrap: wrap;
  flex-direction: column;
  >*:first-child{
    height: 100%;
    width: 70%;
  }
}

.layoutch-4-7{
  @include layoutch(30, 33.33333333);
  flex-wrap: wrap;
  flex-direction: column;
  >*:nth-child(4){
    height: 100%;
    width: 70%;
  }
}

.layoutch-4-8{
  @include layoutch(0, 50);
  flex-wrap: wrap;
  flex-direction: column;
  >*:nth-child(-n+2){
    width: 70%;
  }
  >*:nth-child(n+3){
    width: 30%;
  }
}

.layoutch-4-9{
  @include layoutch(0, 50);
  flex-wrap: wrap;
  flex-direction: column;
  >*:nth-child(-n+2){
    width: 30%;
  }
  >*:nth-child(n+3){
    width: 70%;
  }
}

.layoutch-4-10{
  @include layoutch(50, 30);
  flex-wrap: wrap;
  flex-direction: column;
  >*:first-child,:nth-child(4){
    height: 70%;
  }
}


.layoutch-4-11{
  @include layoutch(50, 70);
  flex-wrap: wrap;
  flex-direction: column;
  >*:first-child,:nth-child(4){
    height: 30%;
  }
}

.layoutch-5-3{
  @include layoutch(50,50);
  flex-wrap: wrap;
  >*:nth-child(n+3){
    width: 33.33333333%;
  }
}

.layoutch-5-4{
  @include layoutch(33.33333333,50);
  flex-wrap: wrap;
  >*:nth-child(n+4){
    width: 50%;
  }
}

.layoutch-5-5{
  @include layoutch(25,30);
  flex-wrap: wrap;
  >*:first-child{
    width: 100%;
    height: 70%;
  }
}

.layoutch-5-6{
  @include layoutch(25,30);
  flex-wrap: wrap;
  >*:nth-child(5){
    width: 100%;
    height: 70%;
  }
}

.layoutch-5-7{
  @include layoutch(30,25);
  flex-wrap: wrap;
  flex-direction: column;
  >*:first-child{
    width: 70%;
    height: 100%;
  }
}

.layoutch-5-8{
  @include layoutch(30,25);
  flex-wrap: wrap;
  flex-direction: column;
  >*:nth-child(5){
    width: 70%;
    height: 100%;
  }
}

.layoutch-5-9{
  @include layoutch(50,25);
  flex-wrap: wrap;
  >*:nth-child(3){
    width: 100%;
    height: 50%;
  }
}

.layoutch-5-10{
  @include layoutch(25,50);
  flex-wrap: wrap;
  flex-direction: column;
  >*:nth-child(3){
    width: 50%;
    height: 100%;
  }
}
